<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.kgitbank.mvc05.BookMarkDTO" alias="bookDto"></typeAlias>
		<typeAlias type="com.kgitbank.mvc05.MemberDTO" alias="memberDto"></typeAlias>
	</typeAliases>
	
	
	<mappers>
		<mapper resource="book.xml" />
		<mapper resource="member.xml" />
	</mappers>
</configuration>
